body {
    overflow: hidden;
    font-family: arial;
    font-size: 15px;
    color: black;
}

body:hover {
    cursor: pointer;
}

#hud {
    top: 5px; 
    z-index: 3;
    //text-align: center;
    
    position:absolute; 
    //width: 140px;
    //height: 100px;
    left: 10px;
    top: 10px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 5px 3px silver;
    color: black; 
}

#hudMaske {
    top: 5px; 
    z-index: 7;
    
    position:absolute; 
    left: 10px;
    top: 10px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent; 
    box-shadow: 0px 0px 5px 3px transparent;
}

#hud:hover, #hudTitel:hover, #hudMaske:hover {
    cursor: ew-resize;
}

#hudTitel {
    position: absolute;
    top: 5px; 
    z-index: 5;
    //text-align: center;
    
    //width: 140px;
    //height: 100px;
    left: -17px;
    top: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    color: black; 
}

td.tr {
    text-align: right;
    width: 50px;
}

th {
    font-weight: normal;
}

#debugHud {
    font-size: 10px;
    position: fixed;
    top: 150px;
    width: 100%;
    padding: 10px;
    //text-align: center;
}

#menue { 
    position:fixed; 
    bottom:10px; 
    left:20px; 
    //width:100%; 
    height:30px;
    //background-color: silver;
    text-align:left;
    margin-bottom: 5px;
    z-index: 2;
}

#inhalt { 
    position:fixed; 
    bottom:10px; 
    left:120px; 
    height:30px;
    //background-color: silver;
    text-align:center;
    margin-bottom: 5px;
    z-index: 1;
}

#steuerung {
    position: fixed;
    bottom: 70px;
    left: 170px;;
    //width: 380px;
    //height: 360px;
    background: silver;   
    text-align: center;
    
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    //background: rgba(0,0,0,0.9); 
    box-shadow: 0px 0px 5px 3px silver;
}

#steuerung table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#steuerung td {
    border: black thin solid;
    padding: 5px;
}

td.linksb {
    text-align: left;
    padding-left: 10px !important;
}

#divHighscore {
    position: fixed;
    bottom: 70px;
    left: 120px;;
    //width: 380px;
    //height: 360px;
    background: silver;   
    text-align: center;
    
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    //background: rgba(0,0,0,0.9); 
    box-shadow: 0px 0px 5px 3px silver;
}

#impressum {
    position: fixed;
    bottom: 70px;
    left: 145px;;
    //width: 420px;
    //height: 250px;
    background: silver;   
    text-align: center;
    
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    //background: rgba(0,0,0,0.9); 
    box-shadow: 0px 0px 5px 3px silver;
}

#impressum img {
    margin-top: -50px;
}

#steuerung p{
    text-align: left;
}

#schwierigkeitsgrad {
    font-size: 12px;
    position: fixed;
    right: 15%;
    top: 20px;
    z-index: 4;
    //text-align: center;
    //vertical-align: middle;   
}

#schwierigkeitsgradSlider {
    font-size: 12px;
    vertical-align: middle;    
}

#schwierigkeitsgrad:hover, #schwierigkeitsgradSlider:hover {
    cursor: pointer;
}

button {
    border-top: 1px solid #96d1f8;
    background: #004d99;
    background: -webkit-gradient(linear, left top, left bottom, from(#004d99), to(#004d99));
    background: -webkit-linear-gradient(top, #004d99, #004d99);
    background: -moz-linear-gradient(top, #004d99, #004d99);
    background: -ms-linear-gradient(top, #004d99, #004d99);
    background: -o-linear-gradient(top, #004d99, #004d99);
    padding: 4.5px 9px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    font-family: Arial;
    text-decoration: none;
    vertical-align: middle;
}

button:hover {
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    background: #004d99;
    color: #FFFFFF;
    cursor: pointer;
}

canvas:hover {
    cursor: pointer;
}

canvas:active {
    cursor: all-scroll;
}

// Quelle Buttons: http://css-tricks.com/examples/ButtonMaker/#
